$primary-color: #E40521;
$primary-color-light: #FF1F3B;
$primary-color-strong: #970214;
$secondary-color: #009720;
$primary-light-color: #FFEBEE;
$secondary-light-color: #FF1F3B;
$mobile-width: 992px;

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h1,h2,h3,h4,h5,h6,a{
    color: $primary-color
}

nav{
    background-color: $primary-color
}

i.primary-color{
    color: $primary-color
}

.side-nav a {
    color: $primary-color
}

.side-nav i {
    color: $primary-color!important;
}

.btn{
    background-color: $primary-color
}

.btn:hover{
    background-color: $primary-color-light;
}

.btn:active{
    background-color: $primary-color-light;   
}

.btn:focus{
    background-color: $primary-color-light;   
}

.spinner-layer {
   border-color: $primary-color;  
}

input[type=range]+.thumb{
    background-color: $primary-color;
}

input[type=range]::-webkit-slider-thumb {
    background-color: $primary-color;
}

.progress {
   background-color: $primary-light-color; 
   .indeterminate {
     background-color: $secondary-light-color;  
   }
}

#map {
    height: 500px;
    width: 100%;
}

.collection-item:not(.active):hover {
    background-color: $primary-light-color;
}

.static {
    position: static !important;
}

.md-input-validation {
    left: 0;
    color: #f44336;
    font-size: 0.8rem;
    transition: opacity .2s ease-out;
    margin-top: -4px;
    margin-bottom: 0;
}

.back-btn {
    width: 40px;
}

.btn:not(.btn-floating) {
    width: 100%;
}

@media screen and (max-height: 700px) {
    #map {
        height: 300px;
    }
}

#loader {
    position: absolute;
    top: -6px;
    width: 100%;
}

li > a {
    color: #000000;
}

.btn-img {
    position:absolute;
    top:5px;
    right:5px;
}

.tag {
    cursor: pointer;
}

.tag-selected {
    color: $primary-light-color;
    background-color: $primary-color;
}