$primary-color: #2C74DA;
$primary-color-light: #3B8DFF;
$primary-color-strong: #2759B9;
$secondary-color: #3B8DFF;
$primary-light-color: #FFFFFF;
$secondary-light-color: #3B8DFF;
$primary-dark-color: #2E2E2E;
$secondary-dark-color: #656565;
$mobile-width: 992px;

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h1,h2,h3,h4,h5,h6,a{
    color: $primary-color
}

nav {
    background-color: $primary-color
}

i.primary-color {
    color: $primary-color
}

.btn{
    background-color: $primary-color
}

.btn:hover {
    background-color: $primary-color-light;
}

.btn:active {
    background-color: $primary-color-light;   
}

.btn:focus {
    background-color: $primary-color-light;   
}

.btn-highlighted {
    color: $primary-color-strong;
}

.btn-side {
  margin: 0 23px 0 23px;
}

.spinner-layer {
   border-color: $primary-color;  
}

input[type=range]+.thumb{
    background-color: $primary-color;
}

input[type=range]::-webkit-slider-thumb {
    background-color: $primary-color;
}

.progress {
   background-color: $primary-light-color; 
   .indeterminate {
     background-color: $secondary-light-color;  
   }
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.photo-slider {
    height: 700px; 
    position: relative
}

.collection-item:not(.active):hover {
    background-color: $primary-light-color;
}

.static {
    position: static !important;
}

.md-input-validation {
    left: 0;
    color: #f44336;
    font-size: 0.8rem;
    transition: opacity .2s ease-out;
    margin-top: -4px;
    margin-bottom: 0;
}

.back-btn {
    width: 40px;
    cursor: pointer;
}

.create-remark-btn {
  .btn-floating {
    background-color: $primary-color;
  }
}

// .white-floating-btn {
//   .btn-floating {
//     background-color: $primary-light-color;
//     color: $primary-color;
//   }
// }

.btn:not(.btn-floating) {
  width: 100%;
  border-radius: 20px;
}

#loader {
    position: absolute;
    top: -6px;
    width: 100%;
}

li > a {
    color: #000000;
}

.btn-img {
    position:absolute;
    top:5px;
    right:5px;
}

.tag {
    cursor: pointer;
}

.tag-selected {
    color: $primary-light-color;
    background-color: $primary-color;
}

.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.remarks-view {
  .btn-left-top {
    position: fixed;
    left: 23px;
    top: 23px;
  }

  .btn-right-top {
    position: fixed;
    right: 23px;
    top: 23px;
  }

  .btn-right-top-absolute {
    position: absolute;
    top: 77px;
    right: 23px;
  }

  .btn-right-top-second {
    position: fixed;
    top: 23px;
    right: 23px;
  }

  .btn-left-bottom {
    position: fixed;
    left: 23px;
    bottom: 23px;
    z-index: 1000;
  }

  .btn-center-bottom {
    position: fixed;
    left: 0;
    bottom: 23px;
    margin: 0 35%;
    width: 30%;
    text-align: center;
    z-index: 1000;    
  }

  .btn-right-bottom {
    position: fixed;
    bottom: 23px;
    right: 23px;
    z-index: 1000;
    
  }
}

.create-remark-view {
  color: $secondary-dark-color;
  padding: 0 20px;
  .text-underlined {
    display: block;
    padding: 10px 0;
    font-size: 23px;
    border-bottom: 2px solid rgba(black, .1);
  }

  .materialize-textarea {
    border-bottom: 2px solid rgba(black, .1) !important;
    box-shadow: 0 0 0 0 transparent !important;    
  }

  .materialize-textarea:focus {
    outline: none !important;
    border-bottom: 2px solid $primary-color !important;
    box-shadow: 0 1px 0 0 $primary-color !important;
  }

  .add-media {
    background-color: rgba(black, .1);
    height: 150px;
    width: 100%;
    text-align: center;
    padding-top: 65px;

    img {
      margin-top: -65px;
      height: 150px;
    }
  }

  .remark-summary-screen {
    display: none;
  }
}

.remark-summary-view {
  .text {
    color: $secondary-dark-color;
    font-weight: 600;
  }

  .category-text {
    @extend .text;
    font-size: 23px;
  }

  .location-text {
    @extend .text;
    font-size: 15px;
    i {
      position: relative;
      top: 5px;
    }
  }

  .description-text{
    @extend .text;
    font-size: 15px;

    p {
      font-size: 15px;
      font-weight: 300;
    }
  }

  .photos-section {
    .photos-slider {
      height: 320px;
      width: 100%;
    }

    .photo-navigation-btn {
      width: 46px;
      .btn {
        padding: 0;
      }
    }
    
    .prev-button {
      @extend .photo-navigation-btn;
      position: absolute;
      left: 5px;
      top: 145px;
    }

    .next-button {
      @extend .photo-navigation-btn;
      position: absolute;
      right: 5px;
      top: 145px;
    }

    .photos-wrapper {
      position: absolute;
      left: 0;
      width: 100%;
      height: 320px;
      background-color: rgba(black, .1);
      text-align: center;

      img {
        height: 320px;
      }
    }

    .photo-placeholder {
      padding-top: 145px;
    }
  }
}

.main-menu {
  .side-nav {
    background-color: $primary-dark-color;

    li {
      a {
        color: $primary-light-color;
        font-size: 1.5rem;
        padding: 0;
      }

      .divider {
        background-color: $secondary-dark-color;
      }
    }

    .row {
      margin-left: auto;
      margin-right: auto;
    }

    i {
      color: $primary-light-color!important;
    }

    .noordwind-info {
      span {
        color: $secondary-dark-color;
        padding: 0;
      }
    }
  }
}

.remark-list-item {
  padding: 15px 0 !important;
  border-bottom: 1px solid rgba(black, .1);

  i {
    font-size: 3rem;
  }

  .row {
    margin: 0 auto;
  }

  .small-line-height {
    line-height: 1.2em;
  }

  .header {
    @extend .overflow-ellipsis;
    @extend .small-line-height;
    font-weight: 500;
  }

  .second-line {
    @extend .overflow-ellipsis;
    @extend .small-line-height;
    font-size: 75%;
    font-weight: 500;
  }

  .third-line {
    @extend .overflow-ellipsis;
    @extend .small-line-height;
    font-size: 75%;
    font-weight: 300;
    i {
      font-size: 1rem;
    }  
  }

  .distance {
    @extend .overflow-ellipsis;
    line-height: 1em;

    i {
      font-size: 2rem;
    }

    .number {
      @extend .overflow-ellipsis;
      font-size: 75%;
    }
  }

  .action {
    @extend .overflow-ellipsis;
  }
}

.remark-side-list {
  .side-nav {
    background-color: $primary-color;
    .remark-list-item {
      position: relative;
      background-color: inherit;
      border-bottom-color: rgba( $primary-light-color, .1);

      div {
        color: $primary-light-color;
      }

      .icon {
        position: relative;
        i {
          position: absolute;
          top: 0;
          right: 0;
          color: $primary-light-color;
          font-size: 1.5rem;
        }
      }

      .address {
        opacity: .5;
      }

      .distance {
        opacity: .5;
      }

      .action {
        opacity: .5;
      }
    }
  }
}

@media only screen and (min-device-width: $mobile-width) {
    .remark-side-list {
      .side-nav {
        width: 50%;
      }
    }
}

@media only screen and (max-device-width: 480px) {
    .photo-slider {
        height: 500px;
    }
}
